<h2 class="text-center"><%= list.full_name  %></h2>
<%- if table_data[:cells].empty? %>
  <h2>There is no data for selected filters.</h2>
<% else %>
  <%= render 'partials/esp_stats_table', table_data: table_data, list: list %>
<% end %>
