<h2 class="text-center"><%= list.full_name  %></h2>
<%- if table_data[:cells].empty? %>
  <h2>There is no data for selected filters.</h2>
<% else %>
  <%= render 'table', table_data: table_data %>
<% end %>
