// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "sweetalert";
@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import "active_admin/sortable";

@import 'font-awesome/font-awesome';
@import 'activeadmin/froala_editor_input';


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.fr-wrapper > div > a {
  display: none !important;
}

a.disabled {
  opacity: 0.8;
  pointer-events: none;
  cursor: wait;
}

.loader {
  display: none;

  &.active {
    display: inline;
  }
}

.col-image {
  img {
    max-width: 300px;
  }
}
#main_content_wrapper {
  img {
    max-width: 300px;
  }
}


.cke_contents {
  min-height: 400px;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

#footer{
  display: none;
}

#header{
  li#assets{
    display: none;
  }
}

#dashboard_default_message{
  display: none !important;
}


.wysihtml5-sandbox{
  width: 98% !important
}
body.active_admin form .activeadmin-wysihtml5{
  width: 80% !important;
}
.col-status{
  min-width: 70px;
}

.row-image img{
  max-width: 750px;
  max-height: 750px;
}

label.default_label{
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
  padding: 10px;
  padding-right: 0px;
}

input[type="file"]{
  padding: 10px;
  padding-left: 0px;
}

#wrapper .sidebar_section.panel > h3, .panel > h3 {
  margin-top: 0px;
}
form .actions {
  margin-left: 40px;
}

form fieldset.inputs ol > li input[type="submit"] {
  background-color: #5ea3d3;

}

.text-center {
  text-align: center;
}

td.border-right:not(:last-child) {
  border: {
    right: 1px solid #e8e8e8;
  };
}

td.non-empty {
  font-weight: bold;
}

//.activeadmin-wysihtml5-modal {
//  input[name="url"],
//  input[name="text"],
//  input[name="title"],
//  input[name="rel"],
//  input[name="email"],
//  input[name="anchor"],
//  input[name="alt"],
//  input[name="alignment"],
//  input[name="scale"],
//  input[name="width"],
//  input[name="height"],
//  input[name="_wysihtml5_mode"]  {
//    display: none !important;
//  }
//}

.input-group--array {
  .input-group--array__item {
    input {
      width: 60%;

      + button {
        float: right;
      }
    }
  }
  .input-group--array__item + .input-group--array__item{
    padding-left: 20%;
    margin-top: 15px;

    input {
      width: 75%;
    }
  }
}